$break-large: 1024px;
$break-small: 600px;

//
// MAIN SHIT
//

* {
  z-index: 10;
}

html {
  font-size: 16px;
}

h1 {
  font: bold 4rem $family-primary;
}

h2, h3 {
  font: 3rem $family-secondary;
  
  @media screen and (max-width: $break-small) {
    font-size: 2rem;
  }
}

.section {
  display: flex;
  flex-direction: column;
  height: 100rem;
  max-height: 80vh;
  padding: 2rem;
}

// 
// HERO SHIT
// 

.section--title {
  margin: 2rem;
  color: white;
  
  .title {
    font: bold 4rem $family-primary;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
  }
  
  .contents--header {
    order: 1;
    flex-basis: 10rem;
  }

  nav.menu.menu--main ul {
    display: flex;
    justify-content: flex-end;
    
    li.menu-item {
      color: rgba(255,255,255,0.8);
      font: bold 0.75rem $family-primary;
      margin: 0 1rem;
      padding: 1rem 0 0.25rem;
      border-bottom: 1px solid rgba(255,255,255,0.8);
      letter-spacing: 0.125rem;
      text-transform: uppercase;
      
      text-align: center;
      transition: padding 0.3s, margin 0.3s, color 0.3s, border 0.3s;
      &:hover {
        color: $white;
        border-bottom: 2px solid $white;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        margin-left: 0rem;
        margin-right: 0rem;
      }
    }
  }
  .contents--main {
    margin: 1rem 3rem;
    order: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 100%;
  }
  
  &.section--with-menu {
    justify-content: space-between;
  }
}

// 
// NORMAL CONTENT SHIT
// 

.section--content {
  background: #f6f6f8;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  
  .content {
    display: flex;
    margin: 0.5rem;
  }
  
  .subtitle {
    font: bold 0.8rem $family-primary;
    color: $grey;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    
  }
  
  .content--paragraph {
    max-width: 33rem;
    margin: 1rem 1rem 1rem 0;
  }
  
  .watermark {
    position: absolute;
    bottom: -2rem;
    left: -1rem;
    z-index: 1;
    
    h4 {
      color: white;
      font: bold 8rem $family-primary;
    }
  }
  
  .content--main {
    display: flex;
    justify-content: center;
    margin: 0 4rem;
    
    >.content {
      margin: 2rem;
    }
    
    .content--paragraphs {
      flex-direction: row;
    }
  }
}

// 
// ABOUT SHIT
// 

.section--img-two-col {
    
  .content--image {
    flex-basis: 33%;
    order: 1;
    justify-content: center;
    padding: 1rem;
    background: $white;
  }
  
  .content--text {
    flex-basis: 67%;
    flex-direction: column;
    order: 2;
  } 
}

// 
// HIGHIGHT SHIT
// 

.section--text-img {
  
  .content--main {
    justify-content: center;
  }
  
  .content--text {
    flex-basis: 50%;
    flex-direction: column;
  }
  
  .content--image {
    flex-basis: 33%;
  }
}

// 
// ALSO SHIT
// 

.section--also {
  background: #232326;
  color: white;
}


// 
// THREE COLUMN TEXT
// 

.section--three-col-text {
  .content--main {
    align-items: center;
    height: 100%;
  }
  
  .content--text {
    flex-basis: 100%;
    flex-direction: column;
    height: 100%;
    
    .content--heading {
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      justify-content: flex-end;
    }
    
    .content--paragraph {
      flex-basis: 50%;
    }
  }
}

// 
// FORM SHIT
// 

.content--form form {
  display: flex;
  flex-direction: column;
  
  label {
    display: block;
    margin-bottom: 0.25rem;
    font: bold 0.7rem $family-primary;
    color: $grey;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
  }
  
  .form--input-fields {
    input, textarea {
      min-width: 20rem;
      font-size: 1rem;
      border-radius: 0;
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
      border: none;
      transition: border 0.2s, box-shadow 0.2s;
      border-left: solid 0.125rem $grey;
      
      &:focus {
        outline: none;
        border-left-color: $blue;
        box-shadow: 0.25rem 0.25rem 0.25rem $grey;
      }
      
      &:not([value=""]):not(:focus):invalid {
        border-left-color: $red;
      }
      
      &:valid {
        border-left-color: $green;
      }
    }
  }
  
  textarea {
    min-height: 6rem;
  }
  
  .form--submit {
    text-align: right;
  }
  
  .button {
    height: 100%;
    width: 100%;
    padding: 0.5rem 2rem;
    font: bold 0.8rem $family-primary;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    border: 0.125rem solid #AD12B0;
    background: #AD12B0;
    color: $white;
    transition: box-shadow 0.2s;
    
    &:hover, &:focus {
      outline: none;
      box-shadow: 0.25rem 0.25rem 0.25rem $grey;
    }
    
    &:active {
      box-shadow: 0.125rem 0.125rem 0.125rem $grey;
    }
  }
}

// 
// FOOTER
// 

.section--footer {
  height: 10rem;
  min-height: 40vh;
  margin: 2rem;
  color: rgba(255,255,255,0.8);
  text-align: center;
  justify-content: flex-end;
  transition: color 0.4s;
  
  .contents--footer {
    margin: 1rem 3rem;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .content--social-media {
      margin-bottom: 1rem;
    }
    
    .icon {
      margin: 0.5rem;
      
      a {
        color: rgba(255,255,255,0.8);
        font-size: 1.5rem;
        transition: color 0.3s;
        
        &:hover {
          color: rgba(255,255,255,1);
        }
      }
    }
  }
}