@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

$family-primary: Helvetica;
$family-secondary: 'Libre Baskerville', Times, Serif;

$title-color: white;
$title-size: 4rem;
$subtitle-color: white;

$grey-dark: #262729;
$grey: #717171;
$grey-lighter: #F6F6F8;