/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

@mixin for-tablet-portrait-down {
  @media (max-width: 600px) { @content; }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 900px) { @content; }
}
@mixin for-desktop-down {
  @media (max-width: 1200px) { @content; }
}

$family-primary: "Inter var", "Inter", Sans-Serif;
$family-secondary: 'Libre Baskerville', Times, Serif;

$title-color: white;
$title-size: 4rem;
$subtitle-color: white;

$grey-dark: #262729;
$grey: #717171;
$grey-lighter: #F6F6F8;

$purple: #5518A3;
$red: #B01217;
$blue: #1C7BB0;
$pink: #AD12B0;