<section class="section section--footer" style="background: #232326;">
  <footer class="contents contents--footer">
    <div class="content content--social-media">
      <h5>
        <span class="icon">
          <a href="{{site.linkedin_link}}">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </span>
        <span class="icon">
          <a href="{{site.github_link}}">
            <i class="fab fa-github"></i>
          </a>
        </span>
        <!-- <span class="icon">
          <a href="{{site.instagram_link}}">
            <i class="fab fa-instagram"></i>
          </a>
        </span> -->
      </h5>
    </div>
    <div class="content content--copyright">
      <h6>© {{site.time | date: '%Y'}} Dorian Wolf Thornton</h6>
    </div>
  </footer>
</section>