---
  layout: default
---

<section class="section section--title section--with-menu" style="background: #5518A3;">
  <main class="contents contents--main">
    <h1 class="title">Hello, I'm Dorian.</h1>
    <h3 class="subtitle">I am a product designer and web developer.</h3>
  </main>
  <div class="contents contents--header">
    <header>
      {% include navbar.html %}
    </header>
  </div>
</section>

<section id="About" class="section section--content section--img-two-col">
  <main class="content content--main">
    <div class="content content--text">
      <div class="content content--heading"><h2>About Me</h2></div>
      <div class="content content--paragraphs">
        <div class="content content--paragraph">
          <p>I am a product designer and developer with a deep affinity for startups and small businesses that move quickly. I love working in teams; being able to help things run smoother and faster and anticipating changes is what I do best. With a strong background in web development, I am not afraid to code my projects through the finish line.</p>
        </div>
        <div class="content content--paragraph">
          <p>My appreciation for product design comes from my desire to be helpful. So often I’ve found that people (including myself!) incorrectly guess how a person will perceive or interact with something, and I love having the research to give the voice back to the user.</p>
        </div>
      </div>
    </div>
    <div class="content content--image">
      <img src="{{'/assets/images/dorian.jpg' | relative_url}}" alt="Photo of Dorian">
    </div>
  </main>
  <footer class="watermark">
    <h4>AboutMe</h4>
  </footer>
</section>

<section id="Projects" class="section section--title" style="background: #1C7BB0;">
  <main class="contents contents--main">
    <h2 class="title">Selected Projects</h2>
  </main>
</section>

<section class="section section--content section--text-img">
  <main class="content content--main">
    <div class="content content--text">
      <div class="content--heading">
        <h2>Arts4All</h2>
        <h3 class="subtitle">UX / Development</h3>
      </div>
      <div class="content content--paragraph">
        <p>Arts4All has a 17 year history of artistic excellence and inclusion in Davenport West. Many hundreds of people of all ages and backgrounds- residents, artists, volunteers and partner staff- have participated in large-scale, multi-year projects that bring local narratives to life in our neighbourhood's spaces and beyond.</p>
      </div>
    </div>
    <div class="content content--image">
      <img src="{{'/assets/images/a4a-thumb.jpg' | relative_url}}" alt="Arts4All thumbnail">
    </div>
  </main>
  <footer class="watermark">
    <h4>Arts4All</h4>
  </footer>
</section>


<section class="section section--content section--text-img">
  <main class="content content--main">
    <div class="content content--text">
      <div class="content--heading">
        <h2 class="title">Soundbox</h2>
        <h3 class="subtitle">UX / Development</h3>
      </div>
      <div class="content content--paragraph">
        <p>Soundbox lets you share your favourite music with your friends and followers. You can create playlists and send tracks from Soundcloud, Spotify, or directly on our platform.</p>
      </div>
      <div class="content content--paragraph">
        <p>The MVP was built as a Chrome extension, and it later evolved into a custom WordPress theme. This passion project is long since defunct, but it still holds a special place in my heart, since it was one of the first things that I coded out.</p>
      </div>
    </div>
    <div class="content content--image">
      <img src="{{'/assets/images/soundbox-thumb.png' | relative_url}}" alt="Soundbox thumbnail">
    </div>
  </main>
  <footer class="watermark">
    <h4>Soundbox</h4>
  </footer>
</section>

<section id="Experience" class="section section--title" style="background: #B01217;">
  <main class="contents contents--main">
    <h2 class="title">Work Experience</h2>
  </main>
</section>

<section class="section section--content section--three-col-text">
  <main class="content content--main">
    <div class="content content--text">
      <div class="content--heading">
        <h2 class="title">Manager, Product Design</h2>
        <h3 class="subtitle"><a href="https://ampleorganics.com">Ample Organics</a></h3>
      </div>
      <div class="content content--paragraph">
        <p>Feb 2020 - present</p>
      </div>
    </div>
    <div class="content content--text">
      <div class="content--heading">
        <h2 class="title">Associate Product Designer + Developer</h2>
        <h3 class="subtitle"><a href="https://ampleorganics.com">Ample Organics</a></h3>
      </div>
      <div class="content content--paragraph">
        <p>Feb 2018 - Feb 2020</p>
      </div>
    </div>
    <div class="content content--text">
      <div class="content--heading">
        <h2 class="title">Web Designer + Developer</h2>
        <h3 class="subtitle">Toronto Web Developers</h3>
      </div>
      <div class="content content--paragraph">
        <p>Jan 2016 - Feb 2018</p>
      </div>
    </div>
    <div class="content content--text">
      <div class="content--heading">
        <h2 class="title">Freelance Developer</h2>
        <h3 class="subtitle"><a href="https://to.stationwp.com/">Station WP</a></h3>
      </div>
      <div class="content content--paragraph">
        <p>Jan 2016 - Feb 2018</p>
      </div>
    </div>
  </main>
  <footer class="watermark">
    <h4>WorkExperience</h4>
  </footer>
</section>

<section class="section section--content section--text-img">
  <main class="content content--main">
    <div class="content content--text">
      <div class="content--heading">
        <h2 class="title">Also...</h2>
      </div>
      <div class="content content--paragraph">
        <p>I was a founding member of the band <a href="http://austramusic.com/">Austra</a>. Between 2009 and 2018 we released three records and toured a bunch. We were fortunate enough to enjoy some acclaim, getting nominated for a <a href="https://junoawards.ca/nomination/2012-electronic-album-of-the-year-austra/">Juno</a> and a <a href="https://www.vice.com/en_ca/article/6vmz4r/austra-and-braids-nominated-for-the-polaris-music-prize">Polaris</a>, and playing Laneway in Australia and Coachella in California.</p>
      </div>
      <div class="content content--paragraph">
        <p>Here's a strange shot someone took at one of our shows in Reykjavik.</p>
      </div>
    </div>
    <div class="content content--image">
      <img
        src="{{'/assets/images/austra-reykjavik.jpg' | relative_url}}"
        alt="Austra in Reykjavik">
    </div>
  </main>
  <footer class="watermark">
    <h4>Austra</h4>
  </footer>
</section>

<section id="Contact" class="section section--title" style="background: #AD12B0;">
  <main class="contents contents--main">
    <h2 class="title">Contact Me</h2>
  </main>
</section>

<section class="section section--content section--text-img">
  <main class="content content--main">
    <div class="content content--text">
      <div class="content--heading">
        <h2 class="title">Send me a message</h2>
      </div>
      <div class="content content--paragraph">
        <p>I tend to write back quickly.</p>
      </div>
    </div>
    <div class="content content--form">
      <form action="https://formspree.io/dorian.wolf@gmail.com" method="POST">
        <div class="form--input-fields">
          <label for="email">Email Address</label>
          <input type="email" name="email" class="input" onkeyup="this.setAttribute('value', this.value);" value="" required>
          <label for="message">Message</label>
          <textarea class="textarea" type="message" name="message" onkeyup="this.setAttribute('value', this.value);" value="" required></textarea>
        </div>
        <div class="form--submit">
          <input type="submit" class="button" value="Send">
        </div>
      </form>
    </div>
  </main>
  <footer class="watermark">
    <h4>Contact</h4>
  </footer>
</section>
