---
  layout: default
---

<section class="section section--title section--with-menu" style="background: #5518A3;">
  <main class="contents contents--main">
    <h1 class="title">Hello, I'm Dorian.</h1>
    <h3 class="subtitle">I am a product designer and a web developer.</h3>
  </main>
  <div class="contents contents--header">
    <header>
      <nav class="menu menu--main">
        <ul>
          <a href="#About"><li class="menu-item">About</li></a>
          <a href="#SelectedWork"><li class="menu-item">Selected Projects</li></a>
          <a href="#Experience"><li class="menu-item">Work Experience</li></a>
          <a href="#Contact"><li class="menu-item">Contact</li></a>
        </ul>  
      </nav>
    </header>
  </div>
</section>

<section class="section section--content section--img-two-col">
  <main class="content content--main">
    <div class="content content--text">
      <div class="content content--heading"><h2>Text Content.</h2></div>
      <div class="content content--paragraphs">
        <div class="content content--paragraph">
          <p>Here is some more text that could span many lines and still look nice. It might even be split into two separate columns and look kinda cute.</p>
        </div>
        <div class="content content--paragraph">
          <p>Here is some more text that could span many lines and still look nice. It might even be split into two separate columns and look kinda cute.</p>
        </div>
      </div>
    </div>
    <div class="content content--image">
      <img src="https://scontent.fybz1-1.fna.fbcdn.net/v/t1.0-9/66162454_2329290417178547_6663316166863224832_o.jpg?_nc_cat=107&_nc_oc=AQnK8qehYZ7MLbAN-iBex97kO5P8d9ZTKiAoKiSq2Zy1B7jq-NUhz0toUvHu664mKULzYJhf1nBMSP181ay2YHzN&_nc_ht=scontent.fybz1-1.fna&oh=ec9f71e895d3c99a5e86b4a62e9955e8&oe=5DCE7928" alt="Photo of Dorian">
    </div>
  </main>
  <footer class="watermark">
    <h4>About Me</h4>
  </footer>
</section>

<section class="section section--title" style="background: #1C7BB0;">
  <main class="contents contents--main">
    <h2 class="title">Selected Projects.</h2>
  </main>
</section>

<section class="section section--content section--text-img">
  <main class="content content--main">
    <div class="content content--text">
      <div class="content--heading">
        <h2>Arts4All</h2>
        <h3 class="subtitle">UX / Development</h3>
      </div>
      <div class="content content--paragraph">
        <p>Here is some more text that could span many lines and still look nice. It might even be split into two separate columns and look kinda cute.</p>
      </div>
    </div>
    <div class="content content--image">
      <img src="https://scontent.fybz1-1.fna.fbcdn.net/v/t1.0-9/66162454_2329290417178547_6663316166863224832_o.jpg?_nc_cat=107&_nc_oc=AQnK8qehYZ7MLbAN-iBex97kO5P8d9ZTKiAoKiSq2Zy1B7jq-NUhz0toUvHu664mKULzYJhf1nBMSP181ay2YHzN&_nc_ht=scontent.fybz1-1.fna&oh=ec9f71e895d3c99a5e86b4a62e9955e8&oe=5DCE7928" alt="Photo of Dorian">
    </div>
  </main>
  <footer class="watermark">
    <h4>Highlight #1</h4>
  </footer>
</section>


<section class="section section--content section--text-img">
  <main class="content content--main">
    <div class="content content--text">
      <div class="content--heading">
        <h2 class="title">Soundbox</h2>
        <h3 class="subtitle">UX / Development</h3>
      </div>
      <div class="content content--paragraph">
        <p>Here is some more text that could span many lines and still look nice. It might even be split into two separate columns and look kinda cute.</p>
      </div>
    </div>
    <div class="content content--image">
      <img src="https://scontent.fybz1-1.fna.fbcdn.net/v/t1.0-9/66162454_2329290417178547_6663316166863224832_o.jpg?_nc_cat=107&_nc_oc=AQnK8qehYZ7MLbAN-iBex97kO5P8d9ZTKiAoKiSq2Zy1B7jq-NUhz0toUvHu664mKULzYJhf1nBMSP181ay2YHzN&_nc_ht=scontent.fybz1-1.fna&oh=ec9f71e895d3c99a5e86b4a62e9955e8&oe=5DCE7928" alt="Photo of Dorian">
    </div>
  </main>
  <footer class="watermark">
    <h4>Highlight #2</h4>
  </footer>
</section>

<section class="section section--title" style="background: #B01217;">
  <main class="contents contents--main">
    <h2 class="title">Work Experience.</h2>
  </main>
</section>

<section class="section section--content section--three-col-text">
  <main class="content content--main">
    <div class="content content--text">
      <div class="content--heading">
        <h2 class="title">Ample Organics</h2>
        <h3 class="subtitle">Feb 2018 - Present</h3>
      </div>
      <div class="content content--paragraph">
        <p>Here is some more text that could span many lines and still look nice. It might even be split into two
          separate columns and look kinda cute.</p>
      </div>
    </div>
    <div class="content content--text">
      <div class="content--heading">
        <h2 class="title">Toronto Web Developers</h2>
        <h3 class="subtitle">Jan 2016 - Feb 2018 (freelance)</h3>
      </div>
      <div class="content content--paragraph">
        <p>Here is some more text that could span many lines and still look nice. It might even be split into two
          separate columns and look kinda cute.</p>
      </div>
    </div>
    <div class="content content--text">
      <div class="content--heading">
        <h2 class="title">Station WP</h2>
        <h3 class="subtitle">Jan 2016 - Feb 2018 (freelance)</h3>
      </div>
      <div class="content content--paragraph">
        <p>Here is some more text that could span many lines and still look nice. It might even be split into two
          separate columns and look kinda cute. Here is some more text that could span many lines and still look nice. It might even be split into two separate columns and look kinda cute.</p>
      </div>
    </div>
  </main>
  <footer class="watermark">
    <h4>Work Experience</h4>
  </footer>
</section>

<section class="section section--content section--text-img">
  <main class="content content--main">
    <div class="content content--text">
      <div class="content--heading">
        <h2 class="title">Also...</h2>
      </div>
      <div class="content content--paragraph">
        <p>Here's a shot of us at Iceland Airwaves.</p>
      </div>
    </div>
    <div class="content content--image">
      <img
        src="https://scontent-yyz1-1.xx.fbcdn.net/v/t31.0-8/616293_295364170571192_192702468_o.jpg?_nc_cat=100&_nc_oc=AQngzFe6qtkuBGKP01FAUueCDiSfZtPISY-Bu5Zs6HNkh3QjUbZ7CDOe-DSwvh9eQx0&_nc_ht=scontent-yyz1-1.xx&oh=99e96e1f82bd74e524d9cabac025051d&oe=5DD315EB"
        alt="Photo of Dorian">
    </div>
  </main>
  <footer class="watermark">
    <h4>Austra</h4>
  </footer>
</section>

<section class="section section--title" style="background: #AD12B0;">
  <main class="contents contents--main">
    <h2 class="title">Contat Me.</h2>
  </main>
</section>

<section class="section section--content section--text-img">
  <main class="content content--main">
    <div class="content content--text">
      <div class="content--heading">
        <h2 class="title">Send me a message</h2>
      </div>
      <div class="content content--paragraph">
        <p>Here is some more text that could span many lines and still look nice. It might even be split into two
          separate columns and look kinda cute.</p>
      </div>
    </div>
    <div class="content content--form">
      <form action="https://formspree.io/dorian.wolf@gmail.com" method="POST">
        <div class="form--input-fields">
          <label for="email">Email Address</label>
          <input type="email" class="input" onkeyup="this.setAttribute('value', this.value);" value="" required>
          <label for="message">Message</label>
          <textarea class="textarea" onkeyup="this.setAttribute('value', this.value);" value="" required></textarea>
        </div>
        <div class="form--submit">
          <input type="submit" class="button" value="Send">
        </div>
      </form>
    </div>
  </main>
  <footer class="watermark">
    <h4>Contact</h4>
  </footer>
</section>